<!DOCTYPE html>
<html>
<head>
    <title><%= config.title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- url_for('css/main.css') %>" />
    <meta name="baidu-site-verification" content="y4EEfl1oRM" />
    <% if( page.keywords ){ %><meta name="keywords" content="<%= page.keywords %>"><% }else{ %><meta name="keywords" content="<%= config.keywords %>"><% } %>
    <% if( page.description ){ %><meta name="description" content="<%= page.description %>"><% }else{ %><meta name="description" content="<%= config.description %>"><% } %>
    <%- partial('_partial/baidu') -%>
</head>
<body>
    <%- partial('_partial/header') -%>
    <div class="container-fluid blog-content">
        <div class="container blog-main-content">        
            <div class="row">
                <%- body %>

                <%- partial('_partial/sidebar') -%>  
            </div>
        </div>
                
        <foot class="blog-footer">
            <div class="container">
                &copy; 2020 <%= config.title %> - 京ICP备15058613-2号
            </div>
        </foot>
    </div>
</body>
</html>
