<!DOCTYPE html>
<html>
<head>
    <title><%= config.title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- url_for('scss/main.css') %>" />
</head>
<body>
    <%- partial('_partial/header') -%>
    <div class="container-fluid blog-content">
        <div class="container blog-main-content">        
            <div class="row">
                <%- body %>

                <div class="blog-sidebar col-md-3 col-lg-3 col-xl-3 col-sm-12 col-xs-12">
                    <div class="blog-profile">
                        <div class="author-img">
                            <a href="#"><img src="<%- url_for('image/fox.jpg') %>" alt=""></a>
                        </div>
                        <div class="author-desc">
                            <h1><%= config.author %></h1>
                            <p><%= config.subtitle %></p>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>

        
        <foot class="blog-footer">
            <div class="container">
                &copy; 2020 大江小浪 - 京ICP备15058613-2号
            </div>
        </foot>
    </div>


</body>
</html>