<!DOCTYPE html>
<html>
<head>
    <title><% if( page.title ){ %><%= page.title %>-<% } %><%= config.title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- url_for('css/main.css') %>" />
    <meta name="baidu-site-verification" content="y4EEfl1oRM" />
    <% if( page.keywords ){ %><meta name="keywords" content="<%= page.keywords %>"><% }else{ %><meta name="keywords" content="<%= config.keywords %>"><% } %>
    <% if( page.description ){ %><meta name="description" content="<%= page.description %>"><% }else{ %><meta name="description" content="<%= config.description %>"><% } %>
    <%- partial('_partial/baidu') -%>
</head>
<body>
    <%- partial('_partial/header') -%>
    <div class="container-fluid blog-content">
        <div class="container blog-main-content">        
            <div class="row">
                <%- body %>

                <%- partial('_partial/sidebar') -%>  
            </div>
        </div>
                
        <foot class="blog-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12">&copy; 2020 <%= config.title %> - 京ICP备15058613-2号</div>
                    <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12 col-xs-12" id="friend_links">
                        <h2>友情链接</h2>
                        <ul>
                            <li><a href="http://pdcfighting.com">Python爬虫与数据挖掘</a></li>
                            <li><a href="https://www.yuque.com/hxfqg9">yichen的信安知识库</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </foot>
    </div>
</body>
</html>
