<!DOCTYPE html>
<html>
<head>
    <title><%= config.title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- url_for('scss/main.css') %>" />
</head>
<body>
    <%- partial('_partial/header') -%>
    <div class="container-fluid blog-content">
        <div class="container blog-main-content">        
            <div class="row">
                <div class="blog-post-lists col-md-9 col-lg-9 col-xl-9 col-sm-12 col-xs-12">
                    <% page.posts.each(function (post) { %>
                        <div class="blog-post">
                            <h1><a href="<%- url_for(post.path) %>"><%= post.title %></a></h1>
                            <div class="blog-post-desc">
                                <p><%- post.excerpt %></p>
                                <p><a href="<%- url_for(post.path) %>" class="more-link">继续阅读 »</a>&nbsp;&nbsp;<span><%- date(post.date, "YYYY-MM-DD") %></span></p>
                            </div>
                        </div>
                    <% }) %>
                    
                    <% page.total %>
                    <% if (page.total > 1) { %>
                        <div class="page-nav">
                            <%- paginator({
                                prev_text: "上一页",
                                next_text: "下一页"
                            }) %>
                        </div>
                    <% } %>
                </div>
        
                <div class="blog-sidebar col-md-3 col-lg-3 col-xl-3 col-sm-12 col-xs-12">
                    <div class="blog-profile">
                        <div class="author-img">
                            <a href="#"><img src="<%- url_for('image/fox.jpg') %>" alt=""></a>
                        </div>
                        <div class="author-desc">
                            <h1><%= config.author %></h1>
                            <p><%= config.subtitle %></p>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>

        
        <foot class="blog-footer">
            <div class="container">
                &copy; 2020 大江小浪 - 京ICP备15058613-2号
            </div>
        </foot>
    </div>


</body>
</html>