<div class="blog-post-detail col-md-9 col-lg-9 col-xl-9 col-sm-12 col-xs-12">
  <div class="blog-post-title">
    <h1><%= page.title %></h1>
  </div>
  <div class="blog-post-meta">
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD HH:mm:ss") %></span>
  </div>
  <div class="blog-post-content">
    <%- page.content %>
    <div class="blog-post-footer">
      <p><img src="<%- url_for('image/qrcode_river.jpg') %>" alt=""></p>
      <p>关注<a href="https://www.edulinks.cn">大江小浪</a>，一起聊聊生活里的那些风浪</p>
    </div>
  </div>
  <% if (page.prev || page.next){ %>
  <div class="blog-post-nav row">
    <% if (page.prev){ %>
      <div class="nav-link col-md-6">
        <a href="<%- url_for(page.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
          &lt;&lt; <%= page.prev.title %>
        </a>  
      </div>
    <% } %>
    <% if (page.next){ %>
      <div class="nav-link col-md-6">
        <a href="<%- url_for(page.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
          <%= page.next.title %> &gt;&gt;
        </a>
      </div>
    <% } %>
  </div>
  <% } %>    
</div>
